<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="3" android:versionName="3.0" package="com.insthub.nearbuy">
    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="19"/>  
    <uses-permission android:name="android.permission.CAMERA"/> 
	<uses-feature android:name="android.hardware.camera.autofocus"/>
    
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    
    <!-- 【必须】 信鸽SDK所需权限 -->
	<uses-permission android:name="android.permission.RESTART_PACKAGES"/>
	<uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
	<uses-permission android:name="android.permission.GET_TASKS"/>
	<uses-permission android:name="android.permission.READ_LOGS"/>
	<uses-permission android:name="android.permission.VIBRATE"/>


    <application android:allowBackup="false" android:icon="@drawable/ecmobile_logo" android:label="@string/app_name" android:logo="@drawable/icon" android:name="com.insthub.nearbuy.EcmobileApp" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light">
        <meta-data android:name="AA_DB_NAME" android:value="ecmobile.db"/>
        <meta-data android:name="AA_DB_VERSION" android:value="4"/>
        
	    
	    

        <activity android:launchMode="singleTask" android:name="com.insthub.nearbuy.activity.EcmobileMainActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>
        
        <!-- 友盟用户反馈 -->
        <activity android:label="联系我们" android:name="com.umeng.fb.ConversationActivity" android:parentActivityName="com.insthub.nearbuy.activity.EcmobileMainActivity" android:theme="@android:style/Theme.Holo.Light"/>
        
        <activity android:name="com.umeng.fb.ContactActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        
        <meta-data android:name="UMENG_APPKEY" android:value="5347e9d656240b720f01983a"/>
        <meta-data android:name="UMENG_CHANNEL" android:value="Channel ID"/>

        
        <activity android:name="com.insthub.BeeFramework.activity.StartActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        

        <activity android:launchMode="singleTask" android:name="com.insthub.nearbuy.activity.A0_SigninActivity" android:screenOrientation="portrait"/>

        <activity android:name="com.insthub.nearbuy.activity.A1_SignupActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateVisible|adjustResize"/>

        <activity android:name="com.insthub.nearbuy.activity.B1_ProductListActivity" android:parentActivityName="com.insthub.nearbuy.activity.EcmobileMainActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>


        <activity android:name="com.insthub.nearbuy.activity.B2_ProductDetailActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>

        <activity android:name="com.insthub.nearbuy.activity.B3_ProductPhotoActivity" android:screenOrientation="portrait"/>

        <activity android:name="com.insthub.nearbuy.activity.B4_ProductParamActivity" android:screenOrientation="portrait"/>

        <activity android:name="com.insthub.nearbuy.activity.B5_ProductCommentActivity" android:screenOrientation="portrait"/>

        <activity android:name="com.insthub.nearbuy.activity.B6_ProductDescActivity" android:screenOrientation="portrait"/>

        <activity android:name="com.insthub.nearbuy.activity.C0_ShoppingCartActivity" android:screenOrientation="portrait"/>

        <activity android:name="com.insthub.nearbuy.activity.C1_CheckOutActivity" android:screenOrientation="portrait" android:theme="@style/ContentOverlay"/>
        
        <activity android:name="com.insthub.nearbuy.activity.C2_PaymentActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.Dialog"/>

        <activity android:name="com.insthub.nearbuy.activity.C3_DistributionActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.Dialog"/>

        <activity android:name="com.insthub.nearbuy.activity.C4_InvoiceActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan"/>
        
        <activity android:name="com.insthub.nearbuy.activity.C4_DeliveryTimeActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.Dialog" android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity android:name="com.insthub.nearbuy.activity.C5_BonusActivity" android:screenOrientation="portrait"/>

        <activity android:name="com.insthub.nearbuy.activity.C6_RedEnvelopeActivity" android:screenOrientation="portrait"/>

        <activity android:name="com.insthub.nearbuy.activity.D1_CategoryActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity android:name="com.insthub.nearbuy.activity.D2_FilterActivity">
        </activity>

        <activity android:name="com.insthub.nearbuy.activity.E4_HistoryActivity" android:parentActivityName="com.insthub.nearbuy.activity.EcmobileMainActivity" android:screenOrientation="portrait"/>

        <activity android:name="com.insthub.nearbuy.activity.E5_CollectionActivity" android:parentActivityName="com.insthub.nearbuy.activity.EcmobileMainActivity" android:screenOrientation="portrait"/>

        <activity android:name="com.insthub.nearbuy.activity.E6_ShippingStatusActivity" android:screenOrientation="portrait"/>

        <activity android:name="com.insthub.nearbuy.activity.F0_AddressListActivity" android:screenOrientation="portrait"/>

        <activity android:name="com.insthub.nearbuy.activity.F1_NewAddressActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>

        <activity android:name="com.insthub.nearbuy.activity.F2_EditAddressActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        
        <activity android:name="com.insthub.nearbuy.activity.F3_RegionPickActivity" android:screenOrientation="portrait" android:theme="@style/dialog"/>

        <activity android:name="com.insthub.nearbuy.activity.G0_SettingActivity" android:parentActivityName="com.insthub.nearbuy.activity.EcmobileMainActivity" android:screenOrientation="portrait"/>

        <activity android:name="com.insthub.nearbuy.activity.G1_HelpActivity" android:parentActivityName="com.insthub.nearbuy.activity.EcmobileMainActivity" android:screenOrientation="portrait"/>

        <activity android:name="com.insthub.nearbuy.activity.G2_InfoActivity" android:parentActivityName="com.insthub.nearbuy.activity.G1_HelpActivity" android:screenOrientation="portrait"/>


        <activity android:name="com.insthub.nearbuy.activity.GalleryImageActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.NoActionBar"/>


        <activity android:name="com.insthub.nearbuy.activity.AppOutActivity" android:parentActivityName="com.insthub.nearbuy.activity.EcmobileMainActivity" android:screenOrientation="portrait"/>

        <activity android:name="com.insthub.nearbuy.AppExpiredAcitivty" android:screenOrientation="portrait"/>

        <activity android:name="com.insthub.nearbuy.activity.ShareActivity" android:screenOrientation="portrait" android:theme="@style/dialog">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="com.insthub.nearbuy.activity.PayWebActivity" android:screenOrientation="portrait"/>
        
        <activity android:name="com.insthub.nearbuy.activity.HelpWebActivity" android:screenOrientation="portrait"/>
        
        <activity android:name="com.insthub.nearbuy.activity.BannerWebActivity" android:screenOrientation="portrait"/>
        
        <activity android:name="com.insthub.nearbuy.activity.ShareWebActivity" android:screenOrientation="portrait"/>



        <activity android:name="com.insthub.nearbuy.activity.SpecificationActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.Dialog"/>

        <activity android:name="com.insthub.BeeFramework.activity.FullScreenPhotoActivity" android:screenOrientation="portrait"/>


        <activity android:name="com.insthub.BeeFramework.activity.WebViewActivity" android:screenOrientation="portrait"/>
        
        <activity android:name="com.insthub.nearbuy.activity.ShareTencentActivity" android:screenOrientation="portrait"/>

        <activity android:name="com.insthub.BeeFramework.activity.ActivityLifeCycleActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.insthub.BeeFramework.activity.MemoryMessageActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.insthub.BeeFramework.activity.DebugMessageListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.insthub.BeeFramework.activity.CrashLogActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.insthub.BeeFramework.activity.CrashLogDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.insthub.BeeFramework.activity.DebugCancelDialogActivity" android:screenOrientation="portrait" android:theme="@style/dialog"/>
        <activity android:name="com.insthub.BeeFramework.activity.DebugDetailActivity" android:screenOrientation="portrait"/>

        <activity android:name="com.insthub.BeeFramework.activity.DebugTabActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.insthub.BeeFramework.activity.FloatViewSettingActivity" android:screenOrientation="portrait"/>

        <activity android:name="com.insthub.nearbuy.activity.AlixPayActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name="com.insthub.nearbuy.activity.OtherPayWebActivity" android:screenOrientation="portrait"/>
        <service android:name="com.insthub.BeeFramework.service.MemoryService">
            <intent-filter android:priority="1000"> 
                <action android:name="com.insthub.BeeFramework.service.MemoryService"/>
            </intent-filter>
        </service>
        
        <service android:name="com.insthub.BeeFramework.service.NetworkStateService">
            <intent-filter android:priority="1000">
                <action android:name="com.BeeFramework.NetworkStateService"/>
            </intent-filter>
        </service>

        <activity android:name="com.tencent.weibo.sdk.android.component.PublishActivity" android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name="com.tencent.weibo.sdk.android.component.GeneralInterfaceActivity" android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name="com.tencent.weibo.sdk.android.component.ConversationActivity" android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name="com.tencent.weibo.sdk.android.component.FriendActivity" android:windowSoftInputMode="adjustPan"> </activity>
        
        <activity android:name="com.tencent.weibo.sdk.android.component.Authorize"> </activity>
        <activity android:name="com.tencent.weibo.sdk.android.component.GeneralDataShowActivity"> </activity>
        <activity android:name="com.tencent.weibo.sdk.android.component.ReAddActivity"> </activity>
        <activity android:name="com.alipay.android.app.sdk.WapPayActivity" android:screenOrientation="portrait"> </activity>
        <activity android:configChanges="orientation|keyboardHidden" android:excludeFromRecents="true" android:label="@string/app_name" android:name="com.unionpay.uppay.PayActivity" android:screenOrientation="portrait" android:theme="@style/Theme.UPPay">
       </activity>
        <activity android:configChanges="orientation|keyboardHidden" android:excludeFromRecents="true" android:label="@string/app_name" android:name="com.unionpay.uppay.PayActivityEx" android:screenOrientation="portrait" android:theme="@style/Theme.UPPay" android:windowSoftInputMode="adjustResize">
        </activity>
        <!-- push service client -->
        <receiver android:name="com.insthub.BeeFramework.service.PushMessageReceiver">
            <intent-filter>
                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE"/>
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE"/>
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK"/>
            </intent-filter>
        </receiver>

        <!-- push service -->
        <receiver android:name="com.baidu.android.pushservice.PushServiceReceiver" android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW"/>
                <action android:name="com.baidu.android.pushservice.action.media.CLICK"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.baidu.android.pushservice.RegistrationReceiver" android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD"/>
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <service android:exported="true" android:name="com.baidu.android.pushservice.PushService" android:process=":bdservice_v1"/>
        <activity android:name=".activity.CustomerCenterActivity" android:screenOrientation="portrait"/>
        
        <!-- 友盟自动更新 -->
        <service android:name="com.umeng.update.net.DownloadingService" android:process=":DownloadingService">
		</service>
		<activity android:name="com.umeng.update.UpdateDialogActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
		</activity>
		
		
		
		   <!-- 【必须】 信鸽receiver广播接收 -->
    <receiver android:name="com.tencent.android.tpush.XGPushReceiver" android:process=":xg_service_v2">
        <intent-filter android:priority="0x7fffffff">
            <!-- 【必须】 信鸽SDK的内部广播 -->
            <action android:name="com.tencent.android.tpush.action.SDK"/>
            <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE"/>
            <!-- 【必须】 系统广播：开屏和网络切换 -->
            <action android:name="android.intent.action.USER_PRESENT"/>
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            
            <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
            <action android:name="android.intent.action.BOOT_COMPLETED"/>
            <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
            <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
            <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
        </intent-filter>
        <!-- 【可选】 usb相关的系统广播，增强信鸽service的复活机会，请根据需要添加 -->
        <intent-filter android:priority="0x7fffffff">
            <action android:name="android.intent.action.MEDIA_UNMOUNTED"/>
            <action android:name="android.intent.action.MEDIA_REMOVED"/>
            <action android:name="android.intent.action.MEDIA_CHECKING"/>
            <action android:name="android.intent.action.MEDIA_EJECT"/>
            <data android:scheme="file"/>
        </intent-filter>
    </receiver>

    <!-- 【必须】 (2.30及以上版新增)展示通知的activity -->
    <!-- 【注意】 如果被打开的activity是启动模式为SingleTop，SingleTask或SingleInstance，请根据通知的异常自查列表第8点处理-->
     <activity android:exported="false" android:name="com.tencent.android.tpush.XGPushActivity">
         <intent-filter>
            <!-- 若使用AndroidStudio，请设置android:name="android.intent.action"-->
             <action android:name=""/>
         </intent-filter>
    </activity>

    <!-- 【必须】 信鸽service -->
    <service android:exported="true" android:name="com.tencent.android.tpush.service.XGPushService" android:persistent="true" android:process=":xg_service_v2"/>
    
    <!-- 【建议】 信鸽service守护进程，可以增加复活机会，提升消息抵达率 -->
    <service android:name="com.tencent.android.tpush.service.XGDaemonService" android:process=":qq_push_daemon"/>
 
    <!-- 【必须】 通知service，此选项有助于提高抵达率 -->
    <service android:exported="true" android:name="com.tencent.android.tpush.rpc.XGRemoteService">
        <intent-filter>
            <action android:name="com.insthub.nearbuy.PUSH_ACTION"/>
        </intent-filter>
    </service>

    <!-- 【必须】 请将YOUR_ACCESS_ID修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
    <meta-data android:name="XG_V2_ACCESS_ID" android:value="2100028939"/>
    <!-- 【必须】 请将YOUR_ACCESS_KEY修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
    <meta-data android:name="XG_V2_ACCESS_KEY" android:value="AT777DL25VZR"/>
		
		
		
    <activity android:configChanges="orientation|keyboard" android:launchMode="singleTask" android:name="com.umeng.socialize.view.ShareActivity" android:noHistory="true" android:theme="@style/Theme.UMDialog" android:windowSoftInputMode="stateVisible|adjustResize"/>
<activity android:configChanges="orientation|keyboard" android:launchMode="singleTask" android:name="com.tencent.tauth.AuthActivity" android:noHistory="true">
<intent-filter>
<action android:name="android.intent.action.VIEW"/>
<category android:name="android.intent.category.DEFAULT"/>
<category android:name="android.intent.category.BROWSABLE"/>
<data android:scheme="tencent添加你的App Id"/>
</intent-filter>
</activity>
<activity android:name="com.tencent.connect.common.AssistActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
<activity android:configChanges="orientation|keyboard" android:name="com.umeng.socialize.view.CommentActivity" android:theme="@style/Theme.UMDefault"/>
<activity android:configChanges="orientation|keyboard" android:name="com.umeng.socialize.view.CommentDetail" android:noHistory="true" android:theme="@style/Theme.UMDefault"/>
<activity android:configChanges="orientation|keyboard" android:name="com.umeng.socialize.view.CommentDetailNoMap" android:noHistory="true" android:theme="@style/Theme.UMDefault"/>
</application>

</manifest>
